.searchForm form {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.searchInput {
    margin: 1rem;
    padding: 0.75rem;
    width: 20rem;
    border-radius: 0.5rem;
    border: 0;
    background-color: var(--color-pastel-green)
}

.searchButton {
    margin: 1rem 1rem 1rem 0;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 0;
    font-weight: bold;
    background-color: var(--color-pastel-green);
    transition: color 0.3s, background-color 0.3s;
}

.searchButton:hover {
    background-color: var(--color-primary-green);
    color: var(--color-white);
}