body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-black: #111111;
  --color-dark-gray: #333333;
  --color-medium-gray: #666666;
  --color-light-gray: #CCCCCC;
  --color-primary-green: #00A550;
  --color-light-green: #66D19E;
  --color-pastel-green: #B3E2CD;
  --color-white: #DDDDDD;
}
